.back{
  background-color: #58799D;
  font-size: 50px;
  border-radius: 10px;
  text-align: right;
}

.back:hover{
  border-radius: 10px;
  background-color: #1BBC9B;
}

.t {
  text-align: center;
  font-size: 60px;
}

.btn:hover{
  background-color: #2D3E50;
  border-radius: 10px;
}

.btn1{
  background-color: red;
}

.imgs{
  width: 200px;
}

.h{

}
