.back{
  background-color: #58799D;
  font-size: 45px;
  border-radius: 10px;
  text-align: right;
  margin: 10px;
}

.back:hover{
  border-radius: 10px;
  background-color: #1BBC9B;
}

.boxStats{
  margin-top: 100px;
}

.cardEquipos{
  margin-top: 50px;
}

.tit{
  text-align: center;
}
