.back{
  background-color: #58799D;
  font-size: 45px;
  border-radius: 10px;
  text-align: right;
  margin: 10px;
  margin-left: 1100px;
}

.back:hover{
  border-radius: 10px;
  background-color: #1BBC9B;
}

.tit{
  text-align: center;
  font-family: sans-serif;
}

.t{
  text-align: center;
  color: #2A2D34;
  margin-bottom: -50px;
}

.imgcen{
  margin: 5px;
  max-width: 40px;
}

.card{
  border: solid black 1px;
}
