.contenedor{
  position: relative;
  width: 700px;
  height: 650px;
  cursor: pointer;
  box-shadow:  1px 10px 25px rgba ( rgba(0,0,0,0.5));
}

.contenedor div{
  position: absolute;
  width: 100%;
  height: 100%;
}

.caja1 {
  background: url("/assets/img/2.png");
  background-size: 100% 100%;
}

.caja2 {
  background: url("/assets/img/1.png");
  background-size: 100% 100%;
  transition: 0.6s;
  clip-path: polygon(0 0, 100% 0, 77% 81%, 0% 100%);
}

.caja2:hover{
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
.caja1:hover ~ .caja2{
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

  #imagen{
    cursor: pointer;
  }

  #imagen img{
    transition: 2s;
  }

  #imagen img:hover{
    transform: translateX(-30%);
    filter:brightness(100%)
  }
  body{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

.infinity-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.infinity-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}

.infinity-form h4 {
  font-weight: bold;
}

.infinity-form .form-input {
  position: relative;
}

.infinity-form .form-input input {
  width: 100%;
  margin-bottom: 20px;
  height: 40px;
  border: none;
  border-bottom: 2px solid #777;
  outline: none;
  background: transparent;
  padding-left: 40px;
  font-weight: bold;
  color: #777;
}

.infinity-form .form-input span {
  position: absolute;
  top: 8px;
  padding-left: 10px;
  color: #777;
}

.infinity-form .form-input input:focus,
.infinity-form .form-input input:valid {
  border-bottom: 2px solid #4285f4;
}

.infinity-form
  .custom-checkbox
  .custom-control-input:checked
  ~ .custom-control-label::before {
  background-color: #4285f4 !important;
  border: 0px;
}

.infinity-form button[type="submit"] {
  margin-top: 10px;
  border: none;
  cursor: pointer;
  border-radius: 20px;
  background: linear-gradient(45deg, #4285f4, #709de8); /*Button Color*/
  color: #fff;
  font-weight: bold;
  transition: 0.5s;
}

.infinity-form button[type="submit"]:hover {
  background: linear-gradient(
    45deg,
    #709de8,
    #4285f4
  ); /*Button color when hover*/
}

.forget-link,
.login-link,
.register-link {
  color: #709de8;
  font-weight: bold;
}

.forget-link:hover,
.login-link:hover,
.register-link:hover {
  color: #4285f4;
  text-decoration: none;
}

.infinity-form .btn-social {
  color: white;
  border: 0;
  display: inline-block;
  margin: 0px;
  margin-right: 10px;
  font-weight: bold;
  padding: 0px 5px;
  margin-bottom: 10px;
}

.infinity-form .btn-facebook {
  color: #4866a8;
}

.infinity-form .btn-google {
  color: #da3f34;
}

.infinity-form .btn-twitter {
  color: #33ccff;
}

.infinity-form .btn-facebook:hover {
  color: white;
  background: hsla(221, 40%, 40%, 1);
}

.infinity-form .btn-google:hover {
  color: white;
  background: hsla(4, 59%, 47%, 1);
}

.infinity-form .btn-twitter:hover {
  color: white;
  background: hsla(195, 78%, 54%, 1);
}
