<div class="container">
  <h1 class="t">MENU INICIO</h1>
  <hr>
  <br> <br>
  <div class="row 2">

  </div>


  <div class="row">
    <div class="col-10">
      </div>
    </div>

  <div class="row">
    <div class="col-6">
      <div class="card one">
        <div class="course-description">
          <h3>Ligas</h3>
          <br>
          <p>Aqui podra crear sus ligas y administrarlas</p>
          <a type="button" class="btn btn-outline-light" href="/Ligas">Ir a ligas</a>
        </div>
      </div>
    </div>

    <div class="col-6">
      <div class="card one" *ngIf="(_usuarioService.obtenerIdentidad().rol === 'ROL_ADMINAPP' )">
        <div class="course-description">
          <h3>Usuarios</h3>
          <br>
          <p>Como usuario admin, podra administrar los usuarios</p>
          <a type="button" class="btn btn-outline-light" href="/Usuarios">Ir a usuarios</a>
        </div>
      </div>
    </div>
  </div>


</div>
