<div class="container">
  <h1 class="display-3">MENU INICIO</h1>
  <br>  <br>  <br>
  <div class="row 2">

</div>
  <div class="row">
    <div class="col-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Ligas</h5>
          <p class="card-text">Aqui podra crear sus ligas y administrarlas.</p>
          <a href="#" class="btn btn-primary" href="/Ligas">Ir</a>
        </div>
      </div>
    </div>

    <div class="col-4"  *ngIf="(_usuarioService.obtenerIdentidad().rol === 'ROL_ADMINAPP' )">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Usuarios</h5>
          <p class="card-text">Como usuario admin, podra administrar los usuarios.</p>
          <a href="#" class="btn btn-primary" href="/Usuarios"  >Ir</a>
        </div>
      </div>
    </div>
  </div>

</div>

